* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --img-background: url(./img/luffy.webp);
}

body{
    height: 100dvh;
    display: grid;
    place-content: center;
    background-position: center;
    transition: ease 1s;
}
.fundo{
    background-image: var(--img-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
}

.container input{
    font-size: 2rem;
    text-align: center;
}

.container div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    gap: 64px;
}

.container button{
    height: 64px;
    width: 200px;
    padding-block: 8px;
}

.lista {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    text-align: center;
    background-color: #0003;
    color: white;
    border-radius: 12px;
}
.lista-itens {
    font-size: 2rem;
    text-align: start;
}